/* Using flexbox:  https://www.w3schools.com/css/css3_flexbox.asp */

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* .container {
  border: 3px solid black;
} */